body {
    font-family: sans-serif;
    width: 100%;
}
h1 {
    position: absolute;
    left: 1em;
    margin: 0;
    height: 46px;   /* Identical to tab bar */
    line-height: 46px;
    z-index: 999;
    font-size: 26px;
    color: #333;
}
a {
    text-decoration: none;
    color: #808080;
}
a:hover {
    color: #333;
}
.ui-tabs .ui-tabs-nav li {
    float: right;
}
.ui-tabs {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
}
.ui-tabs > ul > li > a:focus {
    outline: none;
    border: none;
}
.ui-tabs-panel {
    position: absolute;
    top: 46px;  /* Make way for tab bar */
    bottom: 0;
    left: 0;
    right: 0;
}
.ui-widget-content a {
    text-decoration: underline;
}
.side {
    position: absolute;
    top: 5px;
    bottom: 0;
    width: 48%;
    padding: 1%;
}
.source.side {
    left: 0;
}
.highlighted.side {
    right: 0;
}
.functions {
    text-align: center;
}
.functions button {
    padding-left: 1em;
    padding-right: 1em;
    margin-right: 1em;
    height: 2.5em;
    border: none;
    background-color: #ccc;
    border-radius: 10px;
    font-size: 14px;
}
.functions button:last-child {
    margin-right: 0;
}
.functions button:hover {
    background-color: #aaa;
    cursor: pointer;
}
.source .functions > label, .source .functions > select {
    line-height: 2em;
}
.CodeMirror, .rendered {
    position: absolute;
    top: 3.5em;
    bottom: 1em;
    font-family: monospace;
    font-size: 16px;
    color: #333;
    border: 1px solid #ddd;
    margin: auto;
}
.CodeMirror {
    width: 100%;
    height: auto;
}
.rendered {
    left: 2em;
    right: 1em;
    padding: 4px;   /* Align with CodeMirror lines */
    overflow: scroll;
}
.rendered:focus {
    outline: none;
    background-color: #fcfcfc;
}
.about {
    width: 65%;
    min-width: 450px;
    margin: auto;
}
.about .spacer {
    height: 5em;
}
