{% extends 'highlighter/base.html' %}

{% load i18n staticfiles %}


{% block title %}
{% trans 'Code Highlighter (BBS ASCII Coloring)' %}
{% endblock %}


{% block extra_head %}

<link rel="stylesheet"
  href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.22.0/codemirror.min.css">
<link rel="stylesheet" href="{% static 'highlighter/css/form.css' %}">

{% endblock %}


{% block body %}

<div class="source side">
  {{ form }}
</div>
<div class="highlighted side">
  <div class="functions">
    <button id="function_highlight">{% trans 'Highlight' %}</button>
    <button id="function_select_all">{% trans 'Select all' %}</button>
  </div>
  <div id="rendered" class="rendered" contenteditable="true"></div>
</div>

{% endblock %}


{% block extra_foot %}

<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.22.0/codemirror.min.js"></script>
<script>var RENDER_URL = '{% url "highlight" %}';</script>
<script src="{% static 'highlighter/js/form.js' %}"></script>

{% endblock %}
